{% extends "layout.html" %}
{% block title %}
O mnie
{% endblock %}
{% block content %}
<div class="container">
    <div class="head">
        <h1>O mnie </h1>
    <div style="height: fit-content;" class="row justify-content-left">
        <img style="margin-bottom: 10px;" class="col-sm-3" src="{{ url_for('static', filename='img/avatar.jpg') }}">
        <h2  style="text-align: left;display:inline-block; color: white; width: 780px; line-height: 1.5;">
        Nazywam się Yevhen Tantsiura.<br> 
        Jestem z Ukrainy.<br>
        Mieszkam we Wrocławiu. Jetsem studentem WSB, 2 rok, informatyka.<br> 
        Moje hobby to programowanie, fotografia.<br>
        Mój aparat to Nikon D3000.
    </h2>
    </div>

    
    </div>
</div>
{% endblock %}