{% extends "layout.html" %}
{% block title %}
O mnie
{% endblock %}
{% block content %}
<div class="container">
    <div class="head">
        <h1>O mnie </h1>
    <div class="row justify-content-center">
        <img style="margin-bottom: 10px;" class="col-sm-1" src="{{ url_for('static', filename='png.png') }}">
    </div>

    <h2>
        Nazywam się Yevhen Tantsiura. Jestem z Ukrainy. Mieszkam we Wrocławiu. Jetsem studentem WSB, 2 rok, informatyka. Moje hobby to programowanie, fotografia. Mój aparat to Nikon D3000.
    </h2>
    </div>
</div>
{% endblock %}