{% extends "layout.html" %}
{% block title %}
Galereja zdjęć
{% endblock %}
{% block content %}
<div class="container">
    <div class="head">
    <h1>Tu mam kilka zdjęć które robiłem:</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <a href="{{ url_for('static', filename='img1.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img1_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='img2.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img2_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='img3.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img3_600.jpg') }}" class="img-fluid gallery">
                </a>
            </div>
            <div class="row">
                <a href="{{ url_for('static', filename='img4.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img4_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='img5.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img5_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='img6.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img6_600.jpg') }}" class="img-fluid gallery">
                </a>
            </div>
            <div class="row">
                <a href="{{ url_for('static', filename='img7.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img7_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='img8.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img8_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='img9.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='img9_600.jpg') }}" class="img-fluid gallery">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}