{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <img src="{{ url_for('static', filename='pic1.jpg') }}">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Spodobała się strona? Masz Pytania?</h1>
            <p>Skontaktuj się ze mną.</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('contact') }}">Wyślij wiadomość</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <img src="{{ url_for('static', filename='pic2.jpg') }}">
        <div class="container">
          <div class="carousel-caption">
            <h1>O mnie:</h1>
            <p>Tu możesz więcej dowiedzieć się o mnie.</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('about') }}">O mnie</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <img src="{{ url_for('static', filename='pic3.jpg') }}">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Galeria zdjęć</h1>
            <p>Tu możesz zobaczyć kilka przykładów zdjęć, które robiłem.</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('gallery') }}">Galeria</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container">
  <div class="head">
    <h1>To jest moje portfolio.</h1>
    <h2>Jestem studentem WSB, 2 rok, Informatyka.</h2>
  </div>
</div>
{% endblock %}